/*GLOBAL*/

/*Font Families*/
h2, h3, h5, p{
  font-family: 'Open Sans', sans-serif;
  color: #555555;
}

body{
  background-color: #000000; 
}

/*main container with max-width you gave me but the standard is 960px frame and center*/
/*fixing the main container like this the responsitive will be easier and less code*/
.main_container{
  background-color: #F9F8F4; 
  max-width: 940px;
  /*this is the min standar device*/
  min-width:320px; 
  margin:0 auto;
}

.container{
  max-width:814px; 
  margin-top: 10%;
}

hr{
  width: 90%;
  margin-top: 2%;
  margin-bottom: 5%;
}

.principal_img{
  margin-bottom: 15%;
  margin-left: 5%;
  max-height: 100%; 
  width: 100%; 
}

/*image with text*/
.thumbnail{
  background: #d5ecef; 
  width: 145%; 
  border: none;
  border-radius: 0px;
  margin: 25% 7%;
  min-height: 47em;
}

.img_thumbnail{
  border-radius: 100%; 
  height: 38%; 
  width: 38%;
  margin-bottom: 5%;
}

.title_thumbnail{
  margin-top: 10%;
  margin-bottom: 15%;
  font-size: 2.4em;
}

h5{
  font-size: 1.3em;
  margin-bottom: -2%;
}
.p_thumbnail{
  width: 100%;
  font-size: 1.12em;
  padding: 8% 12% 0% 12%;
}

.footer_end_section{
  width: 97%;
  margin-left: 1%;
}

/*end global*/

/*header*/
h2 {
  font-size: 2.8em;
  color: #314d68;
}

#header{
  max-width: 714px;
  margin: 0% auto; 
}

#p_header{
  font-size: 1.2em; 
  line-height: 240%;
  color: #777777; 
   margin-bottom: -10%;
}

/*end header*/

/*second_section*/
#main_pic_2section{
  margin-left: 43%;
}
/*end second section*/

/*footer*/

#hr_footer{
  margin-top: -3%;
 
}
.button {
  background-color: #DB2733;
  border: none;
  color: white;
  padding: 7px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  min-width: 20px;
  cursor: pointer;
}

#first_button{
  margin-left: 10%;
}
#second_button{
 margin-left: 5%;
}

/*end footer*/

/*Responsitive different devices*/

/* Smartphones (portrait and landscape) */
@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 480px){
  .container{
    margin-bottom: 2%;
  }
  .thumbnail {
    width: 88%;
    padding: 0%;
    margin: 2% auto;
  }
  #thumbnail_second_section{
    margin-bottom: 28%;
    margin-left: 7%;
  }
  .title_thumbnail {
    margin-top: -17%;
    padding: 10% 0% 0% 0%;
    font-size: 2em;
  }
  .p_thumbnail {
    font-size: 1em;
  }
  #main_pic_2section {
    margin-left: 6%;
    margin-top: -22%;
  }
  #first_button {
    margin-left: -6%;
    margin-bottom: 2%;
  }
  #second_button {
    margin-left: -6%;
  }
  .principal_img {
    margin-left: 5%;
    width: 90%;
  }
}

/* iPads (portrait and landscape)*/
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px){
 .thumbnail {
    width: 90%;
    margin-top: 0%;
  }
  .title_thumbnail {
    font-size: 2em;
  }
  .p_thumbnail {
    font-size: 1em;
  }
  #main_pic_2section {
    margin-left: 0%;
  }
}

/*bigger tablets*/
@media only screen 
and (min-device-width : 980px) 
and (max-device-width : 1280px){
  .title_thumbnail {
    margin-top: 11%;
    font-size: 2em;
  }
}

